html, body{
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    background: linear-gradient(180deg, rgba(152, 245, 209, 0.51) 0%, rgba(90, 176, 219, 0.65) 100%) no-repeat;
    transition: .3s;
}

nav {
    background: rgba(255, 255, 255, 0.9);
    transition: .3s;
}

.logo-name{
    align-self: center;
    margin-left: 5px;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

main{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 40px 15px;
    margin-top: 20px;
    transition: .3s;
}

.titulo{ 
    font-weight: 700;
    font-size: 32px;
    color: #55A9D3;
    text-align: center;
}

.sobre-site {
    background: #98F5D1; 
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px 10px 10px 0;
}

.div-sobre{
    display: flex;
    flex-direction: row;
}

.tags-sobre{
    width: 50%;
}

.tag-sobre{
    background: white;
    width: 80%;
    border: 1px solid black;
    font-weight: 600;
    padding: 3px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 7px 0px 0px rgba(0, 0, 0, 0.25);
}

.tag-sobre.ativa, .tag-sobre:hover{
    width: 100%;
    border: 1px solid #57924B;
    color: #57924B;
    box-shadow: inset 7px 0px 0px #91EB7F;
    cursor: pointer;
}

.tag-sobre:hover{
    width: 80%;
}

.tag-sobre.ativa:hover{
    width: 100%;
}

.tag-sobre span{
    margin-left: 5px;
}

.descricao-sobre{
    width: 50%;
    border: 1px solid #57924B;
    padding: 15px;
    background: white;
    height: 190px;
    overflow-y: auto;
    overflow-x: hidden;
}

.img-sobre{
    height: 200px;
}

.catalogo-livros{
    width: 90%;
    margin: 0 auto;
    padding: 15px;
    margin-top: 20px;
}

.catalogo-livros .titulo{
    text-align: start;
}

.escolha-livros{
    display: flex;
    justify-content: center;
}

.livro{
    display: flex;
    flex-direction: column;
    max-width: 450px;
}

.livro-capa{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    max-height: 250px;
    object-fit: contain;
}

.livro-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.livro-info .titulo-livro{
    font-weight: 600;
    font-size: 18px;
}

.livro-info .autor-livro, .livro-info .data-lancamento{
    font-weight: 400;
    font-size: 14px;
    color: #6A6A6A;
}

.livro-info .autor-livro{
    margin-top: -10px;
}

.livro-btn-sinopse{
    width: 100%;
    border-radius: 8px;
    background: #D491EB;
    border: 1px solid #D491EB;
    color: white;
    font-weight: 700;
}

.livro-btn-sinopse:hover{
    background: #b149d3;
    border: 1px solid #b149d3;
    transition: .3s;
}

.livro-btn-ler{
    width: 100%;
    border-radius: 8px;
    background: #91EB7F;
    border: 1px solid #91EB7F;
    color: white;
    font-weight: 700;
}

.livro-btn-ler:hover{
    background: #50be3a;
    transition: .3s;
}

.livro-btn-ler.desabilitado{
    background: #CACACA;
    border: 1px solid #CACACA;
}

.livro-btn-ler.desabilitado:hover{
    cursor: not-allowed;
}

/*Barra de scroll*/
.descricao-sobre::-webkit-scrollbar {
    width: 4px;
}

.descricao-sobre::-webkit-scrollbar-track {
    background: transparent;
}

.descricao-sobre::-webkit-scrollbar-thumb {
    background-color: #55A9D3;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #55A9D3;  /* creates padding around scroll thumb */
}


@media (max-width: 576.98px) {
    main{
        border-radius: 0%;
        padding: 40px 0 !important;
    }

    .div-sobre{
        flex-direction: column;
    }

    .tags-sobre{
        width: 100%;
    }

    .descricao-sobre{
        margin-top: 7px;
        width: 100%;
    }

    .sobre-site{
        width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 767.98px) {
    .escolha-livros{
        gap: 40px;
    }

    .livro-capa{
        margin-bottom: 10px;
    }

    .livro-btn-ler, .livro-btn-sinopse{
        max-width: 200px;
        align-self: center;
    }

    .livro{
        text-align: center;
    }

    .catalogo-livros .titulo{
        text-align: center;
        margin-bottom: 15px;
    }

    .titulo::after{
        content: '';
        display: block;
        width: 100px;
        height: 10px;
        background-color: #55A9D3;
        margin: 5px auto;
    }
}

/*Modo Dark*/
.dark .logotipo{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
}
.dark nav, .dark main.container{
    background: #000 !important;
    transition: .3s;
}

body.dark  {
    background: linear-gradient(180deg, rgba(90, 90, 90, 0.8) 0%, rgb(77, 77, 77) 100%);
    transition: .3s;
}

.dark h3 {
    color: #fff;
}

.dark .sobre-site{
    background: #B25ADB;
}

.dark   #descricao, .dark .titulo{
    color: #fff;
}

.dark .tag-sobre{
    background: #373737;
}

.dark .tag-sobre{
    border: 1px solid #FFB2FF;
    color: #ffffff;
    box-shadow: inset 7px 0px 0px #FFB2FF;
}

.dark .tag-sobre i{
    color: #fff;
}

.dark div.descricao-sobre{
    background: #373737;
}

.dark .autor-livro, .dark .data-lancamento{
    color: #b4b4b4;
}

.dark .livro-btn-ler{
    background: #5AB0DB;
    border: 1px solid #5AB0DB;
}

.dark .livro-btn-ler.desabilitado{
    background: gray;
    border: 1px solid gray;
}

.dark .livro-btn-ler.desabilitado:hover{
    background: gray;
    border: 1px solid gray;
}

.dark .livro-btn-ler:hover{
    background: #2b84b1;
    border: 1px solid #2b84b1;
}

.dark .descricao-sobre{
    border: 1px solid #B25ADB;
}

.dark .popover-header{
    background: rgb(63, 63, 63);
}

.dark .popover-body{
    background: rgb(117, 117, 117);
    color: white;
}

.dark .popover-arrow{
    color: rgb(117, 117, 117);
}


.dark label{
    background: #fff;
}

.dark label .ball{
    background-color: #000;
    
}

.ckeckbox{
    opacity: 0;
    position: absolute;
}

.label{
    background: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;
    
    transform: scale(1.5);
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;
    transform: translateX(0px);
    transition: transform 0.2s linear ;
}

.ckeckbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}
